
*.root
*/*.root

*_cff.py
*/*_cff.py
*/*/*_cff.py
*/*/*/*_cff.py
*/*/*/*/*_cff.py

*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc

*_cff.sh
*/*_cff.sh
*/*/*_cff.sh
*/*/*/*_cff.sh
*/*/*/*/*_cff.sh

*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o

tmpSub
*/tmpSub
*/*/tmpSub
*/*/*/tmpSub
*/*/*/*/tmpSub
